importFrom(data.table,rbindlist)
importFrom(data.table,set)
importFrom(data.table,setattr)
importFrom(data.table,setcolorder)
importFrom(data.table,setnames)
importFrom(R6, R6Class)
exportPattern("^[[:alpha:]]+")
